<link rel="stylesheet" href="/styles.css">

<div class="container">
  <a href="/" class="app-title">
    <h1>Lost & Found</h1>
  </a>


  <div class="tabs">
    <a href="/items" class="active">All Items</a>
    <a href="/items?type=lost">Lost</a>
    <a href="/items?type=found">Found</a>
  </div>

  <div class="grid">
    <% items.forEach(item => { %>
      <div class="card">
        <div class="image-box"></div>

        <span class="badge <%= item.type %>">
          <%= item.type.toUpperCase() %>
        </span>

        <h3><%= item.name %></h3>

        <div class="meta">
          <%= item.location %>
        </div>

        <a class="btn" href="/items/<%= item.id %>">View Details</a>
      </div>
    <% }) %>
  </div>
</div>
